@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.topbar {
  background-color: $primary-color-1;
  color: $white;
  padding: 10px 0;

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @include for-tablet-portrait-up {
      justify-content: flex-start;
    }

    & > * {
      flex: 1;

      @include for-tablet-portrait-up {
        flex: none;
      }
    }
  }
}

.header {
  position: relative;
  z-index: 98;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0;
  }

  &__hamburger {
    display: flex;
    align-items: center;
    gap: 15px;

    @include for-tablet-landscape-up {
      #hamburger {
        display: none;
      }
    }
  }

  &__social {
    display: none;

    @include for-tablet-landscape-up {
      display: flex;
    }
  }

  &__hamburger,
  &__menu {
    i {
      font-size: 20px;
    }
  }

  &__logo {
    img {
      width: 100%;
      height: auto;
      max-height: 50px;
      object-fit: cover;
    }
  }

  &__menu {
    display: flex;
    gap: 15px;

    &__wishlist,
    i.fa-search {
      display: none;

      @include for-tablet-portrait-up {
        display: block;
      }
    }
  }

  &__searchbar {
    @include for-tablet-portrait-up {
      margin-top: -60px;
      margin-bottom: 20px;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
    }
  }

  &__searchbar--active {
    @include for-tablet-portrait-up {
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}

.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  transition: all .3s;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

#site-navigation {
  position: relative;
}

.primary-menu {
  z-index: 99;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $white;
  width: 100%;
  transform-origin: 0% 0%;
  transform: translate(-150%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  li:hover {
    .sub-menu {
      display: block;
    }
  }

  li > a:not(:only-child):after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f078";
  }

  &--active {
    transform: none;
  }

  @include for-tablet-landscape-up {
    transform: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;
  }

  a {
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color-1;

    @include for-tablet-landscape-up {
      border-bottom: 1px solid $white;
      transition: border-bottom-color .3s;

      &:hover {
        border-bottom: 1px solid $primary-color-1;
      }
    }
  }
}

.sub-menu {
  background-color: $white;
  position: absolute;
  display: none;
  list-style: none;
  padding: 10px;
}