@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/************************************************/
/************* FONTS AND COLORS ****************/
/**********************************************/

.woocommerce .woocommerce-breadcrumb {
  margin-top: 28px;
  padding: 15px;
  background-color: $primary-color-1;
  color: $white;
  font-weight: 400;

  @include for-tablet-landscape-up {
    margin-top: 98px;
  }

  a {
    color: $white;
    font-weight: 600;
  }
}

bdi {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

bdi,
.woocommerce ul.products li.product .price,
.product_meta > span > a,
.woocommerce-message::before,
.wishlist-fragment.on-first-load > div > a > span,
.woocommerce-privacy-policy-link,
.woocommerce-LostPassword.lost_password > a,
.woocommerce form .form-row .required {
  color: $primary-color-1;
}

.woocommerce span.onsale,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  background-color: $primary-color-1;
}

.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  color: $white;
}

.woocommerce .quantity .qty,
.product_meta > span,
#coupon_code,
.woocommerce-error,
.cart-subtotal,
.woocommerce-cart .cart-collaterals,
.woocommerce-info,
.woocommerce table.shop_table th,
.woocommerce table.shop_table td,
.woocommerce-checkout #payment,
ul.payment_methods li,
.woocommerce ul.order_details,
.woocommerce .woocommerce-ordering select,
.woocommerce-Address > address,
legend,
.woocommerce .woocommerce-customer-details address,
.woocommerce nav.woocommerce-pagination ul,
.woocommerce .woocommerce-breadcrumb,
.wishlist-fragment.on-first-load > div > span,
.feedback {
  font-size: 1.4rem !important;
  line-height: 2rem !important;
}

.product-name,
.product-price,
.product-quantity,
.product-subtotal {
  font-size: 1.2rem !important;
  line-height: 1.8rem !important;
}

.woocommerce-privacy-policy-link,
.woocommerce-message,
.woocommerce-LostPassword.lost_password > a,
.woocommerce-terms-and-conditions-link,
.woocommerce-notices-wrapper > ul > li,
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout > ul > li {
  font-size: 1.6rem !important;
  line-height: 2.2rem !important;
}

.woocommerce-message {
  border-top-color: $primary-color-1;
}

.woocommerce a.remove {
  font-size: 3rem;
  color: $primary-color-1 !important;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
  border: 1px solid $primary-color-2;
}

.woocommerce table.shop_table td {
  text-align: left;
}

/************************************************/
/***************** BUTTONS *********************/
/**********************************************/

// White background
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
.woocommerce button.button.alt,
.woocommerce a.button,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce button.button.alt.disabled {
  background-color: $white;
  color: $primary-color-1;
  border: 1px solid $primary-color-1;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.3s background-color, 0.3s color;

  &:hover {
    background-color: $primary-color-1;
    color: $white;
  }
}

// Transparent background
.woocommerce a.button,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  background-color: transparent;
}

// Gold background
.woocommerce a.button.alt {
  background-color: $primary-color-1;
  border: 1px solid $primary-color-1;
  color: $white;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.3s background-color, 0.3s color;

  &:hover {
    background-color: $primary-color-1-dark;
    border: 1px solid $primary-color-1-dark;
    color: $white;
  }
}

#place_order {
  &:hover {
    background-color: $primary-color-1 !important;
  }
}

/************************************************/
/******************* INPUT *********************/
/**********************************************/

.woocommerce .quantity .qty {
  height: 34px;
}

.woocommerce form .form-row input.input-text {
  padding: 5px;
  border: 1px solid $primary-color-2;

  &:focus {
    border: 1px solid $primary-color-1;
  }
}

.woocommerce .woocommerce-ordering select {
  padding: 5px;
  border: 1px solid $primary-color-2;

  &:focus {
    outline: none;
    border: 1px solid $primary-color-1;
  }
}

/************************************************/
/******************** LISTS ********************/
/**********************************************/

.woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color-1;

    @include for-tablet-landscape-up {
      transition: border-bottom-color 0.3s;
    }
  }
}

/************************************************/
/******************* MARGINS *******************/
/**********************************************/

.woocommerce ul.order_details {
  padding: 0;
  margin-top: 42px;
}

.wishlist-fragment.on-first-load,
.cart-collaterals > div > h2,
#order_review_heading {
  margin-bottom: 10px;
}

.woocommerce-billing-fields,
.woocommerce .col2-set {
  margin-bottom: 20px;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  margin-top: 28px;
}

.woocommerce .quantity .qty {
  border: 1px solid $primary-color-2;

  &:focus {
    outline: none;
    border: 1px solid $primary-color-1;
  }
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span.current {
  padding: 10px;
}

#coupon_code {
  width: 180px;
}

/************************************************/
/**************** DISPLAY FIXES ****************/
/**********************************************/

.coupon {
  display: flex;
}

.woocommerce ul.order_details {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.nav-links {
  display: none;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  display: block;
}

/************************************************/
/*************** POSITION FIXES ****************/
/**********************************************/

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: 7px;
}

.woocommerce .woocommerce-ordering {
  @include for-phone-only {
    float: left;
  }

  @include for-tablet-portrait-up {
    margin-top: -10px;
  }
}

/************************************************/
/**************** PRODUCT PAGE *****************/
/**********************************************/

#tab-description,
#tab-reviews {
  display: block !important;
  color: $black;

  p,
  span,
  a {
    color: $black;
  }
}

.product_meta {
  display: none;
}

.woocommerce div.product form.cart .variations {
  margin-top: 1em;
}

.woocommerce div.product form.cart .variations th {
  display: block;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.woocommerce div.product form.cart .variations td {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 10px;
}

.woocommerce div.product form.cart .variations select {
  padding: 5px;

  &:focus {
    outline: none;
    border: 1px solid $primary-color-1;
  }
}

.woocommerce div.product form.cart .button {
  height: 34px;
}

.summary.entry-summary > div.yith-wcwl-add-to-wishlist.add-to-wishlist-212.exists.wishlist-fragment.on-first-load > div > span {
  font-size: 1.4rem;
  line-height: 2rem;
}

.summary.entry-summary > div.yith-wcwl-add-to-wishlist.add-to-wishlist-212.exists.wishlist-fragment.on-first-load > div > a {
  color: $primary-color-1;
  font-weight: 500;
}

.wishlist-fragment.on-first-load > div > a > span {
  font-weight: 500;
}

.yith-wcwl-add-to-wishlist .feedback .yith-wcwl-icon:before {
  color: $primary-color-1;
}

.woocommerce div.product p.price,
.woocommerce-product-details__short-description {
  margin-bottom: 10px;
}

.yith-wcwl-add-button {
  margin-bottom: 20px;
}

.size-chart {
  @include for-tablet-landscape-up {
    max-width: 75%;
  }

  &__heading {
    text-align: center;
    font-weight: 600;
    border: 1px solid $primary-color-1;
    padding: 5px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: uppercase;
  }

  &__row {
    border-right: 1px solid $primary-color-1;
    border-bottom: 1px solid $primary-color-1;
    border-left: 1px solid $primary-color-1;
    padding: 5px;
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
  }
}


.woocommerce div.product div.images {
  margin-bottom: 40px;
}

#tab-description {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $primary-color-1;

  h2 {
    margin-bottom: 10px;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

#comments > h2 > span {
  font-size: 2.4rem;
  line-height: 3rem;
  color: $primary-color-1;
}

.comment-text {
  margin: 10px 0 0 50px !important;
}

.woocommerce-review__author,
.woocommerce-review__dash,
.woocommerce-review__published-date {
  font-size: 1.4rem;
  line-height: 2rem;
}

#commentform > p.form-submit {
  margin-bottom: 20px !important;
}

.comment_container > div > div.star-rating > span:before {
  top: -9px !important;
  font-size: 10px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.woocommerce div.product p.price {
  color: $primary-color-1;
}

#reply-title {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.comment-form-rating,
.stars > span > a,
.comment-form-comment {
  font-size: 1.4rem !important;
  line-height: 2rem !important;
}

.woocommerce #review_form #respond textarea {
  padding: 10px;

  &:focus {
    outline: none;
    border: 1px solid $primary-color-1;
  }
}

.slick-slide.slick-current.slick-active > a {
  display: flex !important;
  justify-content: center !important;
}

.wpgs-for .slick-arrow::before {
  color: $primary-color-1 !important;
}

.woocommerce-noreviews {
  font-size: 1.6rem !important;
  line-height: 2.2rem !important;
  margin: 5px 0;
}

.size-chart-extended {
  margin-bottom: 40px;

  &__heading {
    margin-bottom: 10px;
  }

  &__table {
    padding-bottom: 20px;
    border-bottom: 1px solid $primary-color-1;

    table {
      td {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}

@include for-phone-only {
  #tab-description,
  #tab-reviews {
    overflow: initial;
    max-height: 100%;

    &::after {
      display: none !important;
    }
  }
}

.woocommerce div.product form.cart .reset_variations {
  font-size: 1.4rem;
  line-height: 2rem;
}

#select-point {
  padding: 8px;
  background-color: $primary-color-1;
  color: $white;
  font-weight: 600;
  display: inline-block;
  transition: background-color .3s;
  border-radius: 8px;

  &:hover {
    background-color: $primary-color-1-dark;
  }
}

.woocommerce ul#shipping_method li label {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.woocommerce ul#shipping_method li input {
  margin: 10px 5px 0 0;
}

/************************************************/
/****************** WISHLIST *******************/
/**********************************************/

.woocommerce table.shop_table {
  border-top: none !important;
}

.woocommerce a.remove:hover {
  background-color: $primary-color-1;
}