@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/************************************************/
/************* FONTS AND COLORS ****************/
/**********************************************/

bdi {
  font-weight: 500;
}

bdi,
.woocommerce ul.products li.product .price,
.product_meta > span > a,
.woocommerce-message::before,
.wishlist-fragment.on-first-load > div > a > span,
.woocommerce-privacy-policy-link,
.woocommerce-LostPassword.lost_password > a {
  color: $primary-color-1;
}

.woocommerce span.onsale {
  background-color: $primary-color-1;
}

.woocommerce .quantity .qty,
.product_meta > span,
.woocommerce-message,
#coupon_code,
.woocommerce-error,
.cart-subtotal,
.woocommerce-cart .cart-collaterals,
.woocommerce-info,
.woocommerce table.shop_table th,
.woocommerce table.shop_table td,
.woocommerce-checkout #payment,
ul.payment_methods li,
.woocommerce ul.order_details,
.woocommerce .woocommerce-ordering select,
.woocommerce-Address > address,
legend,
.woocommerce .woocommerce-customer-details address {
  font-size: 1.4rem;
  line-height: 2rem;
}

.product-name,
.product-price,
.product-quantity,
.product-subtotal {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.woocommerce-privacy-policy-link,
.woocommerce-LostPassword.lost_password > a {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.woocommerce-message {
  border-top-color: $primary-color-1;
}

.woocommerce a.remove {
  font-size: 3rem;
  color: $primary-color-1 !important;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
  border: 1px solid $primary-color-2;
}

.woocommerce table.shop_table td {
  text-align: left;
}

/************************************************/
/***************** BUTTONS *********************/
/**********************************************/

// White background
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
.woocommerce button.button.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce #respond input#submit {
  background-color: $white;
  color: $primary-color-1;
  border: 1px solid $primary-color-1;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.3s background-color, 0.3s color;

  &:hover {
    background-color: $primary-color-1;
    color: $white;
  }
}

// Transparent background
.woocommerce a.button,
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  background-color: transparent;
}

// Gold background
.woocommerce a.button.alt {
  background-color: $primary-color-1;
  border: 1px solid $primary-color-1;
  color: $white;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.3s background-color, 0.3s color;

  &:hover {
    background-color: $primary-color-1-dark;
    border: 1px solid $primary-color-1-dark;
    color: $white;
  }
}

#place_order {
  &:hover {
    background-color: $primary-color-1 !important;
  }
}

/************************************************/
/******************* INPUT *********************/
/**********************************************/
.woocommerce .quantity .qty {
  height: 34px;
}

.woocommerce form .form-row input.input-text {
  padding: 5px;
  border: 1px solid $primary-color-2;

  &:focus {
    border: 1px solid $primary-color-1;
  }
}

.woocommerce .woocommerce-ordering select {
  padding: 5px;
  border: 1px solid $primary-color-2;

  &:focus {
    outline: none;
    border: 1px solid $primary-color-1;
  }
}

/************************************************/
/******************** LISTS ********************/
/**********************************************/
.woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color-1;

    @include for-tablet-landscape-up {
      transition: border-bottom-color 0.3s;
    }
  }
}

/************************************************/
/******************* MARGINS *******************/
/**********************************************/
.woocommerce ul.order_details {
  padding: 0;
  margin-top: 42px;
}

.wishlist-fragment.on-first-load,
.cart-collaterals > div > h2,
#order_review_heading {
  margin-bottom: 10px;
}

.woocommerce-billing-fields,
.woocommerce .col2-set {
  margin-bottom: 20px;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  margin-top: 28px;
}

.woocommerce .quantity .qty {
  border: 1px solid $primary-color-2;

  &:focus {
    outline: none;
    border: 1px solid $primary-color-1;
  }
}

#coupon_code {
  width: 180px;
}

/************************************************/
/**************** DISPLAY FIXES ****************/
/**********************************************/
.coupon {
  display: flex;
}

.woocommerce ul.order_details {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.nav-links {
  display: none;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  display: block;
}

/************************************************/
/*************** POSITION FIXES ****************/
/**********************************************/
.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: 7px;
}

.woocommerce .woocommerce-ordering {
  @include for-phone-only {
    float: left;
  }

  @include for-tablet-portrait-up {
    margin-top: -10px;
  }
}
