.wysiwyg-content {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figure,
  img {
    display: block;
    margin: 18px 0;
  }

  a {
    font-weight: 500;
  }

  ul,
  ol {
    li {
      font-size: 1.4em;
      line-height: 2rem;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}