@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#product-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;

  @include for-tablet-portrait-up {
    gap: 30px;
  }

  .widget-title,
  .widgettitle {
    font-weight: 400;
    margin-bottom: 10px;
  }

  .widget_block {
    @include for-phone-only {
      width: 100%;
    }

    @include for-tablet-portrait-up {
      width: auto;
    }

    .price_slider_amount {
      display: flex;
      gap: 10px;
      align-items: center;

      .button {
        font-size: 1.4rem;
        line-height: 2rem;
      }

      .price_label {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}

.wc-block-components-price-slider__controls
  .wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--min,
.wc-block-components-price-slider__controls
  .wc-block-components-price-slider__amount.wc-block-components-price-slider__amount--max {
  border: none;
  font-size: 1.4rem;
  line-height: 2rem;
}

.wc-block-attribute-filter .wc-block-attribute-filter-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.wc-block-components-checkbox-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
  font-size: 1.4rem;
  line-height: 2rem;
}
