$black: #000000;
$white: #FFFFFF;
$primary-color-1: #CB9E61;
$primary-color-1-dark: #A27E4D;
$primary-color-2: #8C8C8C;

$breakpoints: (
  for-phone-only: 576px,
  for-tablet-portrait-up: 768px,
  for-tablet-landscape-up: 992px,
  for-desktop-up: 1200px,
  for-big-desktop-up: 1400px,
);
