$black: #000000;
$white: #ffffff;
$primary-color-1: #cb9e61;
$primary-color-1-dark: #a27e4d;
$primary-color-2: #8c8c8c;

$breakpoints: (
  for-phone-only: 576px,
  for-tablet-portrait-up: 768px,
  for-tablet-landscape-up: 992px,
  for-desktop-up: 1200px,
  for-big-desktop-up: 1400px,
);
