$default-color: #000000;
$default-background: #FFFFFF;
$text-color-1: #be9b64;

$breakpoints: (
  for-phone-only: 576px,
  for-tablet-portrait-up: 768px,
  for-tablet-landscape-up: 992px,
  for-desktop-up: 1200px,
  for-big-desktop-up: 1400px,
);
