@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.banner {
  margin-top: 20px;

  @include for-tablet-portrait-up {
    margin-top: 40px;
  }

  @include for-tablet-landscape-up {
    margin-top: 130px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    max-height: 700px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featured-categories {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include for-tablet-portrait-up {
      flex-direction: row;
    }
  }

  &__single {
    display: flex;
    flex: 1;
  }

  &__single a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__single img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.category-pick {
  &__choices {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      width: 100%;
      padding: 15px 30px;
      background-color: $white;
      color: $primary-color-1;
      border: 2px solid $primary-color-1;
      border-radius: 8px;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: all .3s;
      cursor: pointer;

      @include for-tablet-portrait-up {
        width: auto;
      }

      &:hover {
        background-color: $primary-color-1;
        color: $white;
      }

      &:nth-child(2),
      &:nth-child(3) {
        display: none;

        @include for-tablet-portrait-up {
          display: block;
        }
      }
    }
  }
}

#category-pick__products__first-choice,
#category-pick__products__third-choice {
  display: none;
}

.inspirations {
  &__wrapper {
    text-align: center;
  }

  &__heading h1 {
    margin-bottom: 10px;
    color: $primary-color-1;
  }

  &__subheading {
    margin-bottom: 30px;

    h2 {
      color: $primary-color-2;
    }
  }

  &__swiper {
    &__slide {
      img {
        width: 100%;
        max-width: 500px;
        height: auto;
        object-fit: cover;
      }

      &__button {
        margin: 20px 0 7px 0;

        @include for-tablet-portrait-up {
          margin: 30px 0 7px 0;
        }

        a {
          padding: 10px 40px;
          background-color: $primary-color-1;
          color: $white;
          font-weight: 600;
          text-transform: uppercase;
          border-radius: 8px;
        }
      }
    }

    &__next {
      right: 5px !important;
    }

    &__prev {
      left: 5px !important;
    }

    &__next,
    &__prev {
      &::after {
        color: $primary-color-1;
      }
    }
  }
}

.new-arrivals {
  &__heading {
    text-align: center;
    text-transform: uppercase;
  }
}

.newsletter {
  &__wrapper {
    @include for-tablet-portrait-up {
      display: flex;
      gap: 20px;
    }
  }

  &__sign-up {
    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 2;
    }

    &__heading,
    &__subheading {
      max-width: 500px;
      text-align: center;
    }

    &__heading {
      margin-bottom: 5px;

      h3 {
        color: $primary-color-1;
      }
    }

    &__subheading {
      margin-bottom: 15px;

      h3 {
        color: $primary-color-2;
      }
    }

    &__form {
      max-width: 480px;
      text-align: center;

      &__input {
        display: block;
        width: 100%;
        border: 1px solid $primary-color-2;
        padding: 10px;
        margin-bottom: 5px;
        font-size: 1.6rem;

        &:focus,
        &:active {
          outline: $primary-color-1;
        }
      }

      &__submit {
        margin-bottom: 10px;

        &__button {
          display: block;
          width: 100%;
          border: none;
          background-color: $primary-color-1;
          color: $white;
          text-transform: uppercase;
          padding: 11px 0;
          letter-spacing: 2px;
          font-size: 1.6rem;
        }
      }

      span {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }

  &__image {
    display: none;

    img {
      width: 100%;
      max-width: 440px;
      height: auto;
      object-fit: cover;
    }

    @include for-tablet-portrait-up {
      display: flex;
      flex: 1;
    }
  }
}

.about-us {
  &__heading h4 {
    color: $primary-color-1;
  }
}