@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $white;
  color: $black;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.homepage {
  margin: 60px 0;

  @include for-tablet-landscape-up {
    margin: 120px 0;
  }
}

main {
  @include for-tablet-landscape-up {
    margin-top: 70px;
  }
}

.standard-margins {
  margin-top: 40px;

  @include for-tablet-portrait-up {
    margin-top: 60px;
  }

  @include for-desktop-up {
    margin-top: 80px;
  }
}

.small-margin {
  margin-top: 20px;

  @include for-tablet-portrait-up {
    margin-top: 40px;
  }
}