@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// Horizontal scrollbar won't appear
// Padding won't resize your divs
body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $default-background;
  color: $default-color;
}

// Adjust container settings as you wish
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.large-container {
  @include for-tablet-landscape-up {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.homepage {
  margin: 60px 0;

  @include for-tablet-landscape-up {
    margin: 120px 0;
  }
}