@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 3.2rem;
  line-height: 3.8rem;
}

h2,
.h2 {
  font-size: 2.4rem;
  line-height: 3rem;
}

h3,
.h3 {
  font-size: 2rem;
  line-height: 2.6rem;
}

h4,
.h4 {
  font-size: 1.4rem;
  line-height: 2rem;
}

h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h6,
.h6 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@include for-phone-only {
  h1 {
    font-size: (3.2 * 0.8) * 1rem;
    line-height: (3.8 * 0.8) * 1rem;
  }

  h2 {
    font-size: (2.4 * 0.8) * 1rem;
    line-height: (3 * 0.8) * 1rem;
  }

  h3 {
    font-size: (2 * 0.8) * 1rem;
    line-height: (2.6 * 0.8) * 1rem;
  }

  h4 {
    font-size: (1.4 * 0.8) * 1rem;
    line-height: (2 * 0.8) * 1rem;
  }

  h5 {
    font-size: (1.2 * 0.8) * 1rem;
    line-height: (2 * 0.8) * 1rem;
  }

  h6 {
    font-size: (1.2 * 0.8) * 1rem;
    line-height: (2 * 0.8) * 1rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a {
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-decoration: none;
  color: $black;
}

.bold {
  font-weight: 600;
}

.p-14,
bdi {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

small {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
